@import './../../styles/main';

.filtersWrapper {
	padding: 10px 128px;

	@include respond-to(desktop) {
		padding: 20px 5%;
	}
	@include respond-to(laptop) {
		margin-top: 20px;
	}
	@include respond-to(tablet) {
		margin-top: 0;
	}
}

.explanatoryText {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 300;
}

.filters {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include respond-to(tablet) {
		flex-direction: column;
	}

	.field {
		width: 30%;

		@include respond-to(laptop) {
			width: 40%;
		}
		@include respond-to(tablet) {
			width: 100%;
		}
	}
}
